* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #A6160A;
    position: relative;
    font-family: 'Fira Sans Condensed', sans-serif;
}

a {
    text-decoration: none;
}

main {
    background-color: #A6160A;
    display: flex;
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgb(252, 222, 147);
    height: 80px;
    width: 100%;
}

.train-icon {
    font-size: 40px;
    color: rgb(252, 222, 147);
    padding-bottom: 20px;
}

.check-icon {
    font-size: 20px;
    color: limegreen;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
    height: 100vh;
    /* bug chiedere a Paolo */
}

.box {
    background-color: rgb(252, 222, 147);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    width: 700px;
    height: 300px;
    box-shadow: 0 0 25px #333333;
    text-align: center;
    font-size: 25px;
}

.box h3 {
    padding: 50px 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(252, 222, 147);
}